@page "/"
@model RazorPagesApp.Pages.AboutMeModel
@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/about.css" />
    </head>
    <body>
        <div class="about__container">
            <p class="about__textblock">
                Welcome home, such as it is. This squalid hamlet, these corrupted lands, they are yours now, and you are bound to them.
            </p>
            <p class="about__textblock">
                I was lord of this place, before the crows and rats made it their domain.
            </p>
            <p class="about__textblock">
                Our family name, once so well regarded, is now barely whispered aloud by decent folk.
            </p>
        </div>
    </body>
</html>
